.exp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.exp li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.exp li .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 7px;
}

.exp li p {
    margin: 9px 0;
}

.exp li i{
    margin-right: 5px;
}