.projetos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.projetos li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.projetos li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 7px;
}

.projetos li a {
    display: block;
    width: 100%;
    text-decoration: none;
    word-break: break-word; 
    overflow-wrap: break-word;
}

.projetos li a:hover {
    text-decoration: underline;
}

.projetos li i {
    margin-right: 5px;
}
